body {
  /*font-family: 'New Grotesk', sans-serif;*/
  font-family: sans-serif;
  background: linear-gradient(to bottom, #eee, #ddd);
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #24104f;
}

a {
  color: #a68bf7;
  text-decoration: none;
}

.logo {
  margin: 0px auto;
  max-width: 175px;
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}

.container {
  max-width: 750px;
  margin: 18px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.code {
  background-color: #eee;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 400;
  border: 1px solid #aaa;
  display: inline-block;
}

.btn {
  background-color: #6551f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover {
  background-color: #24104f;
  text-decoration: none;
}

.btn:disabled {
  background-color: #9587ff;
}

.vuln-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 5px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

ul {
  list-style-type: none;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.7em;
}

ul li {
  background: #e9ecef;
  margin: 5px 0;
  padding: 10px 5px;
  border-radius: 5px;
}

#error-container {
  margin-top: 10px;
  color: red;
}

.hint {
  margin-top: 5px;
  font-size: small;
  color: gray;
}

.text-green {
  color: green;
}
